.small-title {
                font-family: 'Degular Display', 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.02em;
                }
